.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 20px;
}

.green {
  color: #09d3ac;
}

.telemetry-entry {
  margin: 10px;
}
.telemetry-entry span {
    font-weight: 800;
    font-size: 1.4em;
}
.mapContainer {
  position: absolute;
  top: 100px;
  right: 100px;
  left: 300px;
  bottom: 100px;
  }